/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table {
  width: 100%; /* to make sure the table spans the full width of its container */
  margin-left: auto;
  margin-right: auto; /* these two properties will center the table */
}

th, td {
  text-align: center; /* this will center the text in table headers and cells */
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: inline-block;
  padding: 10px 20px; /* 调整按钮的内边距 */
  margin: 20px 0 0 20px; /* 上、右、下、左外边距 */
  background-color: #3498db; /* 按钮背景颜色 */
  color: #fff; /* 文本颜色 */
  text-decoration: none; /* 去掉下划线 */
  border: 1px solid #3498db; /* 按钮边框 */
  border-radius: 5px; /* 圆角边框 */
  transition: background-color 0.3s ease; /* 添加过渡效果 */

  /* 鼠标悬停时的样式 */
  &:hover {
    background-color: #2980b9; /* 鼠标悬停时的背景颜色 */
  }
}
